* {
    -fx-base-color: #4267b2;
}

.button#login_button {
    -fx-background-color: -fx-base-color;
}

.text-field {
    -fx-border-color: -fx-base-color;
}

.check-box:selected .mark {
    -fx-border-color: -fx-base-color;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color: -fx-base-color;
    -fx-border-radius: 3px;

}

.button {
    -fx-background-color: -fx-base-color;
    -fx-text-fill: white;
}

.progress-indicator {
    -fx-progress-color: -fx-base-color;
}

#layoutLoading {
    -fx-background-color: rgba(210, 210, 210, 0.44);
}

.dialog > *.label.content {
    -fx-font-size: 16px;
}

.label#change_account_label {
    -fx-text-fill: #0067ff;
}

.label#fb_user_name_label {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}



